.main {
  padding: 1rem;
  margin: auto;
}

.page-container {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 10px;
}

.grid::after {
  content: "";
  width: 30em;
}

.card-container {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 10px;
  height: 400px;
  text-align: left;
}

.box {
  padding-top: 65px;
}

.name {
  padding-left: 15px;
  margin: 5px;
  color: blue;
  font-weight: 600;
  text-align: left;
}

.label {
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
  margin-left: 5px;
}
ul {
  margin-left: 30px;
}
li {
  text-align: left;
  word-wrap: break-word;
  color: grey;
  font-weight: 400;
  margin-bottom: 0px;
}

span {
  color: lightgrey;
}

/* photo */
.image {
  display: block;
  margin: -55px auto 0;
  overflow: hidden;
  width: 200px;
  background-color: lightGrey;
  border-radius: 5px 5px;
}

.avatar {
  width: 100%;
}

.content {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding-bottom: 10px;
}

.content-row {
  margin: 8px 0;
}

.card-item {
  width: 15rem;
  margin-left: 3px;
  margin-top: 1rem;
  flex-basis: 24%;
}

@media screen and (max-width: 700px) {
  .page-container {
    flex-direction: column;
  }
  .grid {
    flex-direction: column;
  }
  .card-item {
    flex-basis: 100%;
    align-items: "center";
  }
  /*
  .card-item {
    //flex-basis: 21%;
  }*/
}

@media screen and (max-width: 1024px) {
  .card-item {
    flex-basis: 43%;
    align-items: "center";
  }
}
