.main {
  padding: 1rem;
  margin: auto;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card-container {
  width: 100%;
  height: auto;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  margin-bottom: 10px;
}

.box {
  padding-top: 65px;
}

.name {
  padding-left: 30px;
  margin: 5px;
  color: blue;
  font-weight: 600;
  text-align: left;
}

.label {
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  margin-left: 5px;
}
ul {
  margin-left: 30px;
}
li {
  text-align: left;
  word-wrap: break-word;
  color: grey;
  font-weight: 400;
  margin-bottom: 0px;
}

span {
  color: lightgrey;
}

/* photo */
.image {
  display: block;
  height: 180px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 170px;
  background-color: lightGrey;
}

.avatar {
  width: 100%;
}

.content {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding-bottom: 10px;
}

.content-row {
  margin: 8px 0;
}

.card-item {
  width: 15rem;
  max-width: 85%;
  margin: 1rem;
}

@media screen and (max-width: 700px) {
  .page-container {
    flex-direction: column;
  }
}
