.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-title {
  font-weight: bold;
}

.developerName {
  color: black;
  font-weight: lighter;
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
